.tinderCards {
  display: flex;
  justify-content: center;
  align-items: center;
  height:auto;
  width: auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

.card {
  position: absolute;
  top: 5%;
  width: 90%;
  height: 90%;
  max-width: 500px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}

.card_image_container {
  position: absolute;
  top: 0;
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card_content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  width: 100%;
  height: 35%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_title {
  position: absolute;
  top: 10%;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
  margin: 0;
}

.card_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.card_price {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.card_infoDetails{
  position: absolute;
  font-size: 12px;
  left: 40%;
  bottom: 0px;
}

.swipe {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #fff;
  z-index: 1;
}

.swipe--left {
  background-color: rgba(255, 69, 0, 0.7);
  box-shadow: 0px 0px 10px 0px rgba(225, 114, 114, 0.1);
}

.swipe--right {
  background-color: rgba(0, 128, 0, 0.7);
    box-shadow: 0 2px 4px rgba(116, 223, 116, 0.25);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.link {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.link:hover {
  background-color: #0069d9;
  cursor: pointer;
}

.btn {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.matchButtons {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  z-index: 2;
}

.rightButton,
.leftButton {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  font-size: 24px;
  top:150px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 20px;
}

.leftButton {
  left: 150px;
  background-color: #f25a4a;
}

.rightButton {
  left: 1200px;
  background-color: #3bd37a;
}


@media all and (min-width: 1024px) {
  .hobbie_container_home {
    position: relative;
    top: 80%;
  }
}
@media all and (max-width: 1400px) {
  .hobbie_container_home {
    width: 100%;
  }
}
@media all and (min-width: 850px) {
  .intro_text {
    position: relative;
    left: 60px;
  }

  .intro {
    font-size: 14px;
  }
}

@media all and (max-width: 950px) {
  .hobbie_container_home {
    width: 100%;
    padding: 20px;
  }
}

@media all and (max-width: 767px) {
  .intro_text {
    margin-top: 30px;
    font-size: small;
    width: 100%;
    padding-left: 10%;
  }

  .hobbie_main {
    margin: 0%;
    margin-bottom: 5%;
  }

  .hobbie_container_home {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  .hobbie_home_content {
    background-color: transparent;
    margin: 0;
  }

  .rapper {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .text_medium {
    font-size: 14px;
  }

}
